<!-- sidebar.html -->
<div id="sidePanel" class="fixed top-0 left-0 h-full w-60 m-0 flex flex-col bg-gray-800 text-white shadow-xl">
    <div class="text-center py-6 bg-gray-900 shadow">
        <img src="/public/imgs/entrypoint_logo.png" alt="EntryPoint Logo" style="width: 30px; height: 30px;" class="d-inline-block align-top mr-2">
        <h1 class="h4 mb-0 text-white d-inline-block">EntryPoint</h1>
    </div>
    <a href="posts.html" class="group flex items-center px-4 py-3 mt-5 hover:bg-gray-700 transition-colors duration-300">
        <i class="fas fa-home fa-fw mr-3"></i>
        <span class="flex-1">Home</span>
    </a>
    <a href="announcements.html" class="group flex items-center px-4 py-3 hover:bg-gray-700 transition-colors duration-300">
        <i class="fas fa-bell fa-fw mr-3"></i>
        <span class="flex-1">Announcements</span>
    </a>
    <a href="dashboard.html" class="group flex items-center px-4 py-3 hover:bg-gray-700 transition-colors duration-300">
        <i class="fas fa-chart-line fa-fw mr-3"></i>
        <span class="flex-1">Statistics</span>
    </a>
    <a href="members.html" class="group flex items-center px-4 py-3 hover:bg-gray-700 transition-colors duration-300">
        <i class="fas fa-users fa-fw mr-3"></i>
        <span class="flex-1">Members</span>
    </a>
    <a href="drive.html" class="group flex items-center px-4 py-3 hover:bg-gray-700 transition-colors duration-300">
        <i class="fas fa-folder-open fa-fw mr-3"></i>
        <span class="flex-1">Drive</span>
    </a>
</div>
