.announcement-item {
    margin-bottom: 15px; /* Adds space between announcement items */
}

.announcement-card {
    margin-bottom: 20px; /* Adds space between announcement cards */
    background-color: #ffffff; /* White background for each card */
    border-left: 5px solid #007bff; /* Blue border on the left for a touch of color */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadows for depth */
}
.announcement-title {
    color: #007bff; /* Blue color for titles to match the border */
}
.announcement-date {
    color: #6c757d; /* Bootstrap's default gray for dates */
}
.card-link {
    color: #007bff; /* Ensuring the 'Read more...' link matches the overall color theme */
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#sidePanel {
    flex: 0 0 250px; /* Fixed width for the side panel */
    
}

#mainContent {
    flex-grow: 1;
}